<footer>
  <div class="footer-container">
    <div class="left-footer">
      <div class="text-line">
        <span>沈巷镇水利站</span>
        <a href="#">关于我们</a>
        <a href="#">联系我们</a>
        <a href="#">意见反馈</a>
      </div>
      <div class="text-line">
        <span>友情链接</span>
        <a href="https://www.jjq.gov.cn/index.html">鸠江区政府</a>
        <a href="https://www.jjq.gov.cn/public/column/6606221?type=4&action=list">鸠江区水务局</a>
      </div>
    </div>
    <div class="right-footer">
      <div class="desc-footer">
        <span>站点开发</span>
        <span>阮福民</span>
      </div>
      <div class="desc-footer">
        <span>版权所有</span>
        <span>芜湖市鸠江区沈巷镇水利站</span>
      </div>
      <div class="desc-footer">
        <span>联系电话</span>
        <span>0553-8976603</span>
      </div>
      <div class="desc-footer">
        <span>联系地址</span>
        <span>芜湖市鸠江区沈巷镇裕溪社区</span>
      </div>
    </div>
  </div>
</footer>