{% extends 'news/common/layout.html' %}

{% block link %}
{% load static %}
<link href="{% static '/css/view.css' %}" rel="stylesheet" />
{% endblock %}

{% block title %}{{ article.title }} - 新闻详情页{% endblock %}

{% block content %}
<main>
    <div class="news-detail">

        <h1>{{ article.title }}</h1>
        <div class="desc">
            <div class="desc1">
                发布时间：{{ article.create_time | date:"Y-m-d H:i" }}
            </div>
            <div class="desc2">编辑：{{ article.user_id }}</div>
            <div class="desc3">浏览次数：{{ article.read }}</div>
        </div>
        <div id="editor-content-view" class="editor-content-view">{{ article.content | safe }}</div>
    </div>
</main>
{% endblock %}