{% extends 'news/common/layout.html' %}

{% block link %}
{% load static %}
<link href="{% static '/css/view.css' %}" rel="stylesheet" />
{% endblock %}

{% block title %}{{ article.title }} - 新闻详情页{% endblock %}

{% block content %}
<main>
    <div class="location">
        <a href="{% url 'news:index' %}" target="_blank">首页</a> > <a href="{% url 'news:list' 1 1 %}"
            target="_blank">新闻列表</a> > {{ article.subset_id }}
    </div>

    <div class="news-detail">

        <h1>{{ article.title }}</h1>

        <div class="desc">
            <img src="{% static '/icon/datetime-icon.svg' %}" alt="日期图标">
            <span>{{ article.create_time | date:"Y年m月d日" }}</span>
        </div>

        <div class="dividing_line"></div>

        <div id="editor-content-view" class="editor-content-view">{{ article.content | safe }}</div>
    </div>
</main>
{% endblock %}